
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin:0; padding:0; border:0; outline:0;
  font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit;
  vertical-align:baseline; }

//* не забудьте определить состояник "фокус", стилей */
:focus { outline:0; }
body { line-height:1; color:black; background:white; }
ol, ul { list-style:none; }

/* таблицам необходим cellspacing="0" в разметке */
table { border-collapse:separate; border-spacing:0; }
caption, th, td { text-align:left; font-weight:normal; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }

/*---------------COMMON--------------------------*/
.hidden {
  display: none;
  height: 0;
}

/*------------------------------------------------*/

header {
  background: rgb(123,43,41);

  .content_header {
    background: url("../images/fon.png") top center no-repeat;
    width: 1025px;
    margin: 0 auto;
    box-shadow: inset 0 0px 5px 5px rgb(123,43,41);
    min-height: 100px;
  }
  .login {
    float: right;
    font-size: 12px;
    background: #fff;
    padding: 10px 15px;
    color: rgb(189,52,48);
    text-decoration: none;
    margin: 30px 30px 0 0;
  }
  .ava {
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
    width: 30px;
  }
}
.content {
  background: #CDB79E;
  border-top: 1px solid #bd3430;
  width: 100%;
  position: relative;
  min-height: 150px;

  .content_wrapper {
    margin: 0 auto;
    width: 1425px;
  }
  .menu_column {
    width: 200px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .content_column {
    background: #FFE4C4;
    border-radius: 10px;
    margin-top: 3px;
    width: 1025px;
  }
  .col1 {
    padding: 15px 15px 15px 30px;
  }
  .col3 {
    right: 0;
    padding: 15px 15px 15px 30px;
  }
  .main_menu {
    border-bottom: 1px solid #ffe4c4;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .sub_menu {
    border-top: 1px solid #ffe4c4;
    padding-top: 10px;
    margin-top: 10px;
  }
  .main_menu li a{
    text-decoration: none;
    color: #bd3430;
    padding: 5px 0;
    display: inline-block;
    font-size: 14px;
  }
  .main_menu li a:hover, .books_list a:hover {
    color: #FFE4C4;
  }
  .upload_label {
    font-size: 14px;
    padding-bottom: 5px;
    color: #bd3430;
  }
  .btn {
    background: none;
    font-size: 14px;
    padding: 0;
    margin: 0;
    border: none;
  }
  .books_list li {
    background: url("../images/bok_list.png") left center no-repeat;
  }
  .books_list a {
    display: inline-block;
    padding: 5px 0 5px 20px;
    color: #bd3430;
    text-decoration: none;
  }
  .plain_text {
    padding: 10px;
  }
  .pagination {
    margin: 5px 0;
  }
  .pagination span{
    color: #bd3430;
    display: inline-block;
    padding: 0 5px;
  }
  textarea#add_comment {
    border: none;
    box-shadow: none;
    padding: 2px;
    margin-bottom: 5px;
    height: 100px;
  }
  .small_submit {
    float: right;
  }
  .comment_elem {
    margin: 7px 0 14px 0;
    background: #ffe4c4;
    border-radius: 7px;
    padding: 5px;
    position: relative;
  }
  .comment_elem:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #ffe4c4 transparent transparent transparent;
    content: "";
    position: absolute;
    bottom: -7px;
    right: 13px;
  }
  .comment_elem .color {
    color: #cdb79e;
  }
  .text {
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
    color: rgb(123,43,41);
  }
  .list {
    font-size: 16px;
    color: rgb(123,43,41);
    background: url('../images/iconStarOn.png') 50% 50% no-repeat;
    padding-left: 30px;
    line-height: 30px;
  }
}
footer {
  background: rgb(123,43,41);

  .footer_wrapper {
    width: 1025px;
    margin: 0 auto;
  }
  p {
    padding: 10px 30px 10px 0;
    text-align: right;
    color: #fff;
  }
}
.angular-ratings { overflow: hidden; *zoom: 1; list-style: none; padding: 0; margin: 0; }
.angular-ratings li { float: left; width: 20px; height: 20px; border: none margin: 1px; text-indent: -500000em; background: url("../images/icon-star.png") 0 0 no-repeat; background-size: 100%; }
.angular-ratings li.over { background: url('../images/iconStarOn.png') 0 0 no-repeat; cursor: pointer; }
.angular-ratings li.active { background: url('../images/iconStarOn.png') 0 0 no-repeat; }

.profile_column {
  background: #FFE4C4;
  border-radius: 10px;
  margin: 3px auto 0 auto;
  width: 1025px;
  padding: 0 30px;

  h2 {
    padding: 30px 0 10px 30px;
    font-size: 16px;
    color: #cdb79e;
  }
  .profile_wrapper {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bd3430;;


    img {
      width: 100px;
      margin-right: px;
      float: left;
    }
    p {
      float: left;
      font-size: 14px;
      color: #000;
    }
    strong {
      font-weight: bold;
    }
  }
}
