{{> top }}

<header>
    <div class="content_header clearfix">
        {{# if isLoggedIn}}
            <div class="login">
                {{ user.google.name }}
                <img class="ava" src="{{user.google.image}}" alt=""/>
            </div>
        {{ else }}
            <a href="/auth/google" class="login">SignIn with Google</a>
        {{/ if }}
    </div>
</header>
{{# if isLoggedIn}}
    <div class="content">
        <div class="content_wrapper clearfix">
            <div class="menu_column left col1">
                <ul class="main_menu">
                    <li><a href="/">Main</a></li>
                    <li><a href="/profile/">Profile</a></li>
                </ul>
                    <label class="upload_label">Upload book</label>
                    <div class="btn btn-primary btn-upload"
                        upload-button
                        url="/upload"
                        on-success="onSuccess(response)"></div>
            </div>
            <div ng-include="'components/file-viewer/file-viewer-template.html'"></div>
        </div>
    </div>
{{ else }}
    <div class="content clearfix">
        <p>bla-bla-bla</p>
        <ul>
            <li>bla</li>
            <li>bli</li>
            <li>blu</li>
        </ul>
    </div>
{{/ if }}
<footer>
    <div class="footer_wrapper">
        <p class="copyright">2015 &#169; All rights reserved.</p>
    </div>
</footer>
{{> bottom }}