{{> top }}

<header>
    <div class="content_header clearfix">
        {{# if isLoggedIn}}
            <div class="login">
                {{ user.google.name }}
                <img class="ava" src="{{user.google.image}}" alt=""/>
            </div>
        {{ else }}
            <a href="/auth/google" class="login">SignIn with Google</a>
        {{/ if }}
    </div>
</header>
{{# if isLoggedIn}}
    <div class="content">
        <div class="content_wrapper clearfix">
            <div class="menu_column left col1">
                <ul class="main_menu">
                    <li><a href="/">Main</a></li>
                    <li><a href="/profile/1">Profile</a></li>
                </ul>
                    <label class="upload_label">Upload book</label>
                    <div class="btn btn-primary btn-upload"
                        upload-button
                        url="/upload"
                        on-success="onSuccess(response)"></div>
            </div>
            <div ng-include="'components/file-viewer/file-viewer-template.html'"></div>
        </div>
    </div>
{{ else }}
    <div class="content clearfix">
        <div class="content_wrapper clearfix">
            <p class="text">Встречайте новую, стильную, молодежную социальную сеть для читателей - BookFace! С помощью нее Вы сможете:</p>
            <ul class="list">
                <li>загружать книги и делиться ними с друзьями!</li>
                <li>читать их непосредственно на сайте, забыв про кучи старые  и неудобных "читалок"!</li>
                <li>авторизироваться через привычные социальные сети</li>
            </ul>
        </div>
    </div>
{{/ if }}
<footer>
    <div class="footer_wrapper">
        <p class="copyright">2015 &#169; All rights reserved.</p>
    </div>
</footer>
{{> bottom }}