{{> top }}

<header>
    <div class="logo">BOOKFACE</div>
    <div class="login"><button>Login on social network</button></div>
</header>
<div class="content">
    <div class="menu_column">
        <ul>
            <li>Main</li>
            <li class="btn btn-primary btn-upload"
                upload-button
                url="/upload"
                on-success="onSuccess(response)">Upload book</li>
            <li>Search</li>
            <li>Profile</li>
        </ul>
    </div>
    <div class="content_column">
        <div class="plain text"></div>
        <div class="pagination"></div>
    </div>
    <div class="submenu_column">
        <ul>
            <li>Rating</li>
            <li>Reviews</li>
            <li></li>
        </ul>
    </div>
</div>
{{# if isLoggedIn}}
    {{ user.google.name }}
    <img src="{{user.google.image}}" alt=""/>
{{ else }}
    <a href="/auth/google">Sign In with Google</a>
{{/ if }}
{{> bottom }}