{{> top }}

<header>
    <div class="logo">BOOKFACE</div>
    <div class="login">Login on social network</div>
</header>
<div class="content">
    <div class="menu_column">
        <ul>
            <li>Main</li>
            <li>Search</li>
            <li>Profile</li>
        </ul>
    </div>
    <div class="content_column">
        <div class="plain text"></div>
        <div class="pagination"></div>
    </div>
    <div class="submenu_column">
        <ul>
            <li>Rating</li>
            <li>Reviews</li>
            <li></li>
        </ul>
    </div>
</div>

{{> bottom }}