<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script src="lib/require.js" data-main="require-config"></script>
</head>
<body>
   <div
     class="btn btn-primary btn-upload"
     upload-button
     url="/upload"
     on-success="onSuccess(response)"
   >Upload</div>
</body>
</html>