<div ng-controller="fileViewerController">

    <div class="content_column left clearfix">
        <div class="plain_text">
            <div class="pagination">
                <button ng-click="prevPage()">&lt;</button>
                <span>${currentPage} / ${totalPages}</span>
                <button ng-click="nextPage()">&gt;</button>
            </div>
            <br/>
            <pdfviewer src="${pdfUrl}" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
        </div>
    </div>

    <div class="menu_column left col3">
        <ul class="main_menu clearfix">
            <li><a href="/">Rating</a>
                <angular-ratings ng-model="activeBook.rating" notify-url="/book/rating" notify-id="activeBook.id">
            </li>
            <li><a href="/">Reviews</a>
                <div>
                    <li ng-repeat="comment in activeBook.comments">
                        author: ${comment.user.name}
                        comment: ${comment.comment}
                    </li>
                </div>
            </li>
            <li><a href="/">Add comments</a>
                <textarea ng-model="comment" placeholder="Write..."></textarea>
                <button class="small_submit" ng-click="sendComment()">Send</button>
            </li>
        </ul>
        <p class="upload_label">My books:</p>
        <ul class="books_list">
            <li ng-repeat="book in books">
                <a href="javascript:;" ng-click="changeBook(book)">${book.name}</a>
            </li>
        </ul>
    </div>
</div>